<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery-3.3.1.min.js"></script>
  <title>{{title}}</title>
</head>
<body>
  <div id="logo"></div>
  <nav>
    {{#if user}}
    <span id="login_display">
      Logged in as <span style="color:rgb(100,100,150)">{{user.username}}</span>
    </span>
    {{/if}}
    {{#if messages.info}}
    <div class="messages info"><i class="fas fa-info"></i>{{messages.info}}</div>
    {{/if}}
    {{#if messages.alert}}
    <div class="messages alert"><i class="fas fa-exclamation-triangle"></i>{{messages.alert}}</div>
    {{/if}}
    {{#if messages.success}}
    <div class="messages success"><i class="fas fa-check"></i>{{messages.success}}</div>
    {{/if}}
    <h1>Moderari</h1>
    <p><i>Created by Exsite</i></p>
    <ul>
      <a href="/"><li id="home">Home</li></a>
      <a href="/news/"><li id="news">News</li></a>
      <a href="/documentation/"><li id="documentation">Documentation</li></a>
      {{#if user}}
      <a href="/users/{{session.passport.user.id}}"><li class="account" id="account">Account</li></a>
      <a href="/logout/"><li class="login_block" id="news">Logout</li></a>
      {{else}}
      <li class="login_block" id="login"><i class="fab fa-discord"></i> Login</li>
      {{/if}}
    </ul>
  </nav>
  {{{body}}}
  <script src="/js/main.js"></script>
</body>
</html>