<ul class="sec_nav">
    <li class="account_nav" id="account_info">Info</li>
    <li class="account_nav" id="account_server">Server</li>
    <li class="account_nav" id="account_contact">Contact</li>
     {{#if user.is_admin}}
    <li class="account_nav" id="account_manage">Manage Server</li>
    {{/if}} 
</ul>
<main>

    <div class="page" id="page_info">
        <h1>Welcome {{user.username}}</h1>
        <p>Here you can see your account information<br>and things you might want to know regarding your server status</p><br>
        <img src="{{user.avatar}}" alt="User Avatar">
        <h2 style="color:#7289da">Discord</h2>
        Language: {{user.language}}<br>
        User Tag: {{user.username}}#{{user.discriminator}}<br>
        {{#if user.email}}
        Email: {{user.email}}<br>
        {{/if}}
        <br><br><b>Secure Token: </b><br><i>You might need to use this to identiy your account.<br> -Only give it to verified administrators-</i>
        <br>
        <div id="secure_token_content">
            <button id="secure_token">{{user.secure_token}}</button>
        </div>
    </div>

    <div class="page" id="page_server">
        <h1>Server information:</h1>
        <div id="user_server">
            {{user.server}}
        </div>
    </div>

    {{#if user.is_admin}}
    <div class="page" id="page_manage">
        <h1>Manage the server:</h1>
        <div class="block" id="manage_roles">
            <h2>Roles</h2>
            <div class="role"> 
                <div class="id">ID</div> 
                <div class="name">NAME</div> 
                <div class="level">LEVEL</div> 
                <div class="users">USERS</div> 
            </div>
            <div id="roles_content"></div>
            <div class="role"> 
                <div>-</div> 
                <form method="post" action="/data/roles">
                    <div class="name"><input type="text" name="name"></input></div> 
                    <div class="level"><input type="text" name="level"></input></div> 
                    <div><input type="submit" value="new role"></div> 
                </form>
            </div>
        </div>
    </div>
    {{/if}}

    <div class="page" id="page_contact">
        <h1>Contact Moderari!</h1>
        <p>If you need any help you should join the support Discord</p>
        <a href="https://discord.gg/eWCRzeJ">https://discord.gg/eWCRzeJ</a>
    </div>
</main>
<script src="/js/account.js"></script>