<ul class="sec_nav">
    <li class="account_nav" id="account_info">Info</li>
    <li class="account_nav" id="account_servers">Servers</li>
    {{#if user.is_owner}}
    <li class="account_nav" id="account_manage">Manage Servers</li>
    {{/if}}
    <li class="account_nav" id="account_contact">Contact</li>
</ul>
<main>
    <div class="page" id="page_info">
        <h1>Welcome {{user.username}}</h1><br>
        <p>Here you can see your account information<br>and things you might want to know regarding your server status</p><br>
        <img src="{{user.avatar}}" alt="User Avatar">
        <h2 style="color:#7289da">{{user.provider}}</h2><br>
        Language: {{user.language}}<br>
        2 Factor enabled: {{user.mfa_enabled}}<br>
        User Tag: {{user.username}}#{{user.discriminator}}<br>
        {{#if user.email}}
        Email: {{user.email}}
        {{/if}}
    </div>
    <div class="page" id="page_servers">
        <h1>Registered User on:</h1>
        <div id="user_servers">
            {{user.servers}}
        </div>
    </div>
    {{#if user.is_owner}}
    <div class="page" id="page_manage">
        <h1>Manage your servers:</h1>
    </div>
    {{/if}}
    <div class="page" id="page_contact">
        <h1>Contact Moderari!</h1>
        <p>If you need any help you should join the support Discord</p>
        <a href="https://discord.gg/eWCRzeJ">https://discord.gg/eWCRzeJ</a>
    </div>
</main>
<script src="/js/account.js"></script>